.nav{
  height: max-content;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  font-size: 2.5em;
  font-weight: bolder;
  height: inherit;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 2px solid black;
}
.logoActive{
  font-size: 2.5em;
  font-weight: bolder;
  color: rgb(64, 64, 235);
  height: inherit;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid black;
}
.join{
  font-size: 2.5em;
  font-weight: bolder;
  height: inherit;
  padding-right: .3em;
  padding-left: .3em;
  margin-left: auto;
  border-left: 2px solid black;
}
.link:hover{
  color: rgb(64, 64, 235);
}
.contrib{
  font-size: 2.5em;
  font-weight: bolder;
  height: inherit;
  padding-right: .3em;
  padding-left: .3em;
  border-left: 2px solid black;
}
.main{
  display: flex;
  height: calc(100vh - 43px);

}
@media screen and (max-width: 786px){
  .nav{
      height: max-content;
  }
  .logo, .join, .contrib, .logoActive{
      font-size: 1.5em;
  }
  .logo{
    padding-left: 10px;
    border-right: 1px solid black;
  }
  .join{
    border-left: 1px solid black;
  }
  .contrib{
    border-left: 1px solid black;
  }
  .main{
      flex-direction: column-reverse;
      height: calc(96vh)
  }
}