@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
html, body{
    font-family: 'Ubuntu Mono', monospace;
    /*border: 1px solid black;*/
    border-bottom: 0 none;
    overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
::-webkit-scrollbar{
  width: 0px;
}