.projectArea{
    padding-top: 5%;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.projectCard{
    width: 250px;
    margin: 1em 1em auto;
    background-color: white;
    color: black;
    border: 1px solid black;
    display: flex;
    border-radius: .6em;
}
.projectDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projectImage{
    border-radius: 0.5em;
    margin-bottom: 10px
}
@media screen and (max-width: 786px) {
    .projectArea{
        flex-direction: column;
        height: fit-content;
        overflow-y: hidden;
    }
    .projectArea::before{
        content: "Please scroll this way →";
        font-size: 2em;
        padding: 50%;
        padding-left: 2em;
        padding-right: 2em;
        color: rgb(64, 64, 235);
    }
    .projectCard{
	    margin: 1em;
    }
}
