.headingXL{
    padding-top: .5em;
    font-size: 4.5em;
    font-weight: bolder;
    color: black;
    -webkit-text-stroke: 2px black;
}
.headingM{
    padding-top: .5em;
    font-size: 2.5em;
    color: black;
    -webkit-text-stroke: 2px black;
}
.tagline{
    padding-top: 1em;
    font-size: 2em;
    color: black;
    -webkit-text-stroke: 2px black;
}
@media screen and (max-width: 786px) {
    .headingXL{
        font-size: 2.5em;
    }
    .tagline{
        font-size: 1.5em;
    }
}