.container{
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:786px) {
    .container{
        height: calc(100vh - 8em);
    }
}